<div class="task-board">
    <div class="task-column" cdkDropList [cdkDropListData]="tasks" id="PENDIENTE"
        (cdkDropListDropped)="onTaskDrop($event)">
        <h2>Pending</h2>
        <div class="task-card-container">
            <app-task-card *ngFor="let task of tasks | filterStatus:'PENDIENTE'" [task]="task" (edit)="editTask(task)"
                (delete)="deleteTask(task)" cdkDrag></app-task-card>
        </div>
    </div>

    <div class="task-column" cdkDropList [cdkDropListData]="tasks" id="COMPLETO"
        (cdkDropListDropped)="onTaskDrop($event)">
        <h2>Complete</h2>
        <div class="task-card-container">
            <app-task-card *ngFor="let task of tasks | filterStatus:'COMPLETO'" [task]="task" (edit)="editTask(task)"
                (delete)="deleteTask(task)" cdkDrag></app-task-card>
        </div>
    </div>
</div>