<div class="button-board"><button mat-raised-button color="primary" (click)="newEditTask({})">Nueva
        Tarea</button>
</div>
<div class="task-board" cdkDropListGroup>
    <div class="task-column" cdkDropList [cdkDropListData]="pendingTasks" id="PENDIENTE"
        (cdkDropListDropped)="onTaskDrop($event)">
        <h2>Pendiente</h2>
        <div class="task-card-container">
            <app-task-card *ngFor="let task of pendingTasks " [task]="task" (edit)="newEditTask(task)"
                (delete)="deleteTask(task)" cdkDrag [cdkDragData]="task"></app-task-card>
        </div>
    </div>

    <div class="task-column" cdkDropList [cdkDropListData]="completedTasks" id="COMPLETO"
        (cdkDropListDropped)="onTaskDrop($event)">
        <h2>Completo</h2>
        <div class="task-card-container">
            <app-task-card *ngFor="let task of completedTasks " [task]="task" (edit)="newEditTask(task)"
                (delete)="deleteTask(task)" cdkDrag [cdkDragData]="task"></app-task-card>
        </div>
    </div>

</div>