.button-board {
    flex: 1;
    margin: 10px;
    padding: 1px;
}

.task-board {
    display: flex;
    justify-content: space-between;
}

.task-column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;

    h2 {
        margin-bottom: 10px;
    }

    .task-card-container {
        min-height: 100px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;

        .task-card {
            margin-bottom: 10px;
        }
    }
}